body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1055 {
  position:absolute;
  left:10px;
  top:90px;
  width:328px;
  height:225px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:104px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1057 {
  position:absolute;
  left:306px;
  top:32px;
  width:31px;
  height:22px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1059 {
  position:absolute;
  left:10px;
  top:137px;
  width:325px;
  height:1px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1061 {
  position:absolute;
  left:10px;
  top:214px;
  width:325px;
  height:1px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u1063 {
  position:absolute;
  left:17px;
  top:93px;
  width:40px;
  height:19px;
  color:#6B6B6B;
}
#u1064 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  white-space:nowrap;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F90D1E;
  text-align:left;
}
#u1065 {
  position:absolute;
  left:266px;
  top:94px;
  width:40px;
  height:19px;
  color:#F90D1E;
  text-align:left;
}
#u1066 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  white-space:nowrap;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1067 {
  position:absolute;
  left:11px;
  top:291px;
  width:325px;
  height:1px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
  background:inherit;
  background-color:rgba(249, 13, 30, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1069 {
  position:absolute;
  left:17px;
  top:539px;
  width:306px;
  height:34px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1071 {
  position:absolute;
  left:11px;
  top:367px;
  width:325px;
  height:1px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
  text-align:left;
}
#u1073 {
  position:absolute;
  left:18px;
  top:320px;
  width:95px;
  height:19px;
  color:#6B6B6B;
  text-align:left;
}
#u1074 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
  text-align:left;
}
#u1075 {
  position:absolute;
  left:265px;
  top:320px;
  width:57px;
  height:19px;
  color:#363636;
  text-align:left;
}
#u1076 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1077 {
  position:absolute;
  left:12px;
  top:440px;
  width:325px;
  height:1px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
  text-align:left;
}
#u1079 {
  position:absolute;
  left:17px;
  top:395px;
  width:81px;
  height:19px;
  color:#6B6B6B;
  text-align:left;
}
#u1080 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  white-space:nowrap;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
  text-align:left;
}
#u1081 {
  position:absolute;
  left:300px;
  top:395px;
  width:21px;
  height:19px;
  color:#363636;
  text-align:left;
}
#u1082 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  white-space:nowrap;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u1083 {
  position:absolute;
  left:17px;
  top:169px;
  width:103px;
  height:18px;
  font-size:12px;
  color:#868686;
}
#u1084 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  white-space:nowrap;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u1085 {
  position:absolute;
  left:17px;
  top:244px;
  width:21px;
  height:18px;
  font-size:12px;
  color:#868686;
}
#u1086 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  white-space:nowrap;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1087 {
  position:absolute;
  left:12px;
  top:515px;
  width:325px;
  height:1px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
  text-align:left;
}
#u1089 {
  position:absolute;
  left:17px;
  top:468px;
  width:34px;
  height:19px;
  color:#6B6B6B;
  text-align:left;
}
#u1090 {
  position:absolute;
  left:2px;
  top:2px;
  width:30px;
  white-space:nowrap;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u1091 {
  position:absolute;
  left:118px;
  top:34px;
  width:112px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u1092 {
  position:absolute;
  left:2px;
  top:2px;
  width:108px;
  white-space:nowrap;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1093 {
  position:absolute;
  left:302px;
  top:27px;
  width:31px;
  height:34px;
}
#u1094 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u1095 {
  position:absolute;
  left:316px;
  top:34px;
  width:15px;
  height:18px;
}
#u1096 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F90D1E;
  text-align:left;
}
#u1097 {
  position:absolute;
  left:290px;
  top:168px;
  width:40px;
  height:19px;
  color:#F90D1E;
  text-align:left;
}
#u1098 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  white-space:nowrap;
}
#u1099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
  text-align:left;
}
#u1099 {
  position:absolute;
  left:224px;
  top:243px;
  width:109px;
  height:19px;
  color:#363636;
  text-align:left;
}
#u1100 {
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  white-space:nowrap;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u1101 {
  position:absolute;
  left:323px;
  top:324px;
  width:7px;
  height:12px;
}
#u1102 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u1103 {
  position:absolute;
  left:323px;
  top:399px;
  width:7px;
  height:12px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u1105 {
  position:absolute;
  left:323px;
  top:472px;
  width:7px;
  height:12px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1107 {
  position:absolute;
  left:310px;
  top:96px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1108 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:648px;
  background:inherit;
  background-color:rgba(27, 27, 27, 0.729411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1109 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:648px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:316px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1111 {
  position:absolute;
  left:32px;
  top:171px;
  width:300px;
  height:175px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:80px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F90D1E;
}
#u1113 {
  position:absolute;
  left:63px;
  top:197px;
  width:103px;
  height:19px;
  color:#F90D1E;
}
#u1114 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  white-space:nowrap;
}
#u1115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#797979;
  text-align:left;
  line-height:20px;
}
#u1115 {
  position:absolute;
  left:43px;
  top:229px;
  width:278px;
  height:84px;
  font-size:12px;
  color:#797979;
  text-align:left;
  line-height:20px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:2px;
  width:274px;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1117 {
  position:absolute;
  left:43px;
  top:198px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1118 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1119 {
  position:absolute;
  left:167px;
  top:368px;
  width:30px;
  height:30px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
