body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u2954 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u2955 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u2956 {
  position:absolute;
  left:130px;
  top:32px;
  width:86px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u2957 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u2958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2958 {
  position:absolute;
  left:10px;
  top:72px;
  width:328px;
  height:360px;
  text-align:left;
}
#u2959 {
  position:absolute;
  left:2px;
  top:5px;
  width:324px;
  word-wrap:break-word;
}
#u2960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2960 {
  position:absolute;
  left:306px;
  top:32px;
  width:31px;
  height:22px;
}
#u2961 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2962 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2963 {
  position:absolute;
  left:315px;
  top:35px;
  width:16px;
  height:16px;
}
#u2964 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
