body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u2167 {
  position:absolute;
  left:123px;
  top:32px;
  width:103px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u2168 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2169 {
  position:absolute;
  left:10px;
  top:90px;
  width:328px;
  height:225px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:104px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2171 {
  position:absolute;
  left:306px;
  top:32px;
  width:31px;
  height:22px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u2174 {
  position:absolute;
  left:15px;
  top:137px;
  width:321px;
  height:1px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u2176 {
  position:absolute;
  left:15px;
  top:214px;
  width:321px;
  height:1px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u2178 {
  position:absolute;
  left:72px;
  top:82px;
  width:60px;
  height:22px;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u2179 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  white-space:nowrap;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u2180 {
  position:absolute;
  left:15px;
  top:291px;
  width:321px;
  height:1px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2182 {
  position:absolute;
  left:10px;
  top:81px;
  width:40px;
  height:40px;
}
#u2183 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2184 {
  position:absolute;
  left:10px;
  top:155px;
  width:40px;
  height:40px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2186 {
  position:absolute;
  left:10px;
  top:235px;
  width:40px;
  height:40px;
}
#u2187 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#949494;
  text-align:left;
}
#u2188 {
  position:absolute;
  left:72px;
  top:104px;
  width:72px;
  height:17px;
  font-size:11px;
  color:#949494;
  text-align:left;
}
#u2189 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u2190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u2190 {
  position:absolute;
  left:323px;
  top:95px;
  width:7px;
  height:12px;
}
#u2191 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u2192 {
  position:absolute;
  left:74px;
  top:156px;
  width:75px;
  height:22px;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u2193 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  white-space:nowrap;
}
#u2194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#949494;
  text-align:left;
}
#u2194 {
  position:absolute;
  left:74px;
  top:178px;
  width:72px;
  height:17px;
  font-size:11px;
  color:#949494;
  text-align:left;
}
#u2195 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  white-space:nowrap;
}
#u2196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u2196 {
  position:absolute;
  left:323px;
  top:170px;
  width:7px;
  height:12px;
}
#u2197 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u2198 {
  position:absolute;
  left:72px;
  top:235px;
  width:47px;
  height:22px;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u2199 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u2200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#949494;
  text-align:left;
}
#u2200 {
  position:absolute;
  left:72px;
  top:257px;
  width:79px;
  height:17px;
  font-size:11px;
  color:#949494;
  text-align:left;
}
#u2201 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  white-space:nowrap;
}
#u2202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u2202 {
  position:absolute;
  left:323px;
  top:248px;
  width:7px;
  height:12px;
}
#u2203 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204 {
  position:absolute;
  left:7px;
  top:72px;
  width:323px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
