body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:727px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:749px;
}
#u2287 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:749px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:366px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289 {
  position:absolute;
  left:37px;
  top:661px;
  width:100px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:2px;
}
#u2290 {
  position:absolute;
  left:346px;
  top:292px;
  width:155px;
  height:1px;
}
#u2291 {
  position:absolute;
  left:2px;
  top:-8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:18px;
}
#u2292 {
  position:absolute;
  left:501px;
  top:232px;
  width:226px;
  height:111px;
  text-align:left;
  line-height:18px;
}
#u2293 {
  position:absolute;
  left:2px;
  top:29px;
  width:222px;
  word-wrap:break-word;
}
