body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u1451 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u1452 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u1453 {
  position:absolute;
  left:116px;
  top:32px;
  width:116px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u1454 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  white-space:nowrap;
}
#u1455 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:217px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1456 {
  position:absolute;
  left:14px;
  top:93px;
  width:322px;
  height:217px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:100px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:151px;
}
#u1458 {
  position:absolute;
  left:101px;
  top:120px;
  width:148px;
  height:151px;
}
#u1459 {
  position:absolute;
  left:2px;
  top:68px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1460 {
  position:absolute;
  left:66px;
  top:267px;
  width:183px;
  height:6px;
}
#u1461 {
  position:absolute;
  left:2px;
  top:-5px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
  background:inherit;
  background-color:rgba(251, 39, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1462 {
  position:absolute;
  left:22px;
  top:421px;
  width:306px;
  height:34px;
}
#u1463 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#515151;
}
#u1464 {
  position:absolute;
  left:102px;
  top:340px;
  width:145px;
  height:17px;
  font-size:11px;
  color:#515151;
}
#u1465 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  white-space:nowrap;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#515151;
}
#u1466 {
  position:absolute;
  left:104px;
  top:360px;
  width:142px;
  height:17px;
  font-size:11px;
  color:#515151;
}
#u1467 {
  position:absolute;
  left:2px;
  top:2px;
  width:138px;
  white-space:nowrap;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#515151;
}
#u1468 {
  position:absolute;
  left:129px;
  top:271px;
  width:91px;
  height:23px;
  font-size:16px;
  color:#515151;
}
#u1469 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  white-space:nowrap;
}
