body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:648px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:648px;
}
#u7 {
  position:absolute;
  left:2px;
  top:316px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:49px;
  top:380px;
  width:262px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
