body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u456 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:648px;
}
#u457 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:648px;
}
#u458 {
  position:absolute;
  left:2px;
  top:316px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:356px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u459 {
  position:absolute;
  left:0px;
  top:292px;
  width:364px;
  height:356px;
}
#u460 {
  position:absolute;
  left:2px;
  top:170px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#434343;
}
#u461 {
  position:absolute;
  left:17px;
  top:310px;
  width:326px;
  height:39px;
  font-size:14px;
  color:#434343;
}
#u462 {
  position:absolute;
  left:2px;
  top:2px;
  width:322px;
  word-wrap:break-word;
}
#u463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u463 {
  position:absolute;
  left:29px;
  top:375px;
  width:306px;
  height:44px;
  text-align:left;
  line-height:20px;
}
#u464 {
  position:absolute;
  left:2px;
  top:2px;
  width:302px;
  word-wrap:break-word;
}
#u465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465 {
  position:absolute;
  left:147px;
  top:32px;
  width:79px;
  height:22px;
}
#u466 {
  position:absolute;
  left:2px;
  top:3px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u467 {
  position:absolute;
  left:147px;
  top:32px;
  width:69px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u468 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:637px;
  background:inherit;
  background-color:rgba(27, 27, 27, 0.729411764705882);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u469 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:637px;
}
#u470 {
  position:absolute;
  left:2px;
  top:310px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u471 {
  position:absolute;
  left:32px;
  top:116px;
  width:288px;
  height:32px;
  font-size:16px;
  color:#FFFFFF;
  line-height:28px;
}
#u472 {
  position:absolute;
  left:2px;
  top:2px;
  width:284px;
  word-wrap:break-word;
}
#u473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:110px;
}
#u473 {
  position:absolute;
  left:55px;
  top:174px;
  width:242px;
  height:110px;
}
#u474 {
  position:absolute;
  left:2px;
  top:47px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u475 {
  position:absolute;
  left:162px;
  top:304px;
  width:28px;
  height:28px;
}
#u476 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
