body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u1661 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u1663 {
  position:absolute;
  left:92px;
  top:28px;
  width:166px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u1664 {
  position:absolute;
  left:2px;
  top:2px;
  width:162px;
  word-wrap:break-word;
}
#u1665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1665 {
  position:absolute;
  left:10px;
  top:90px;
  width:328px;
  height:225px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:104px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1667 {
  position:absolute;
  left:306px;
  top:32px;
  width:31px;
  height:22px;
}
#u1668 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u1669 {
  position:absolute;
  left:15px;
  top:198px;
  width:321px;
  height:1px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u1671 {
  position:absolute;
  left:72px;
  top:153px;
  width:50px;
  height:22px;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u1672 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  white-space:nowrap;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1673 {
  position:absolute;
  left:10px;
  top:142px;
  width:40px;
  height:40px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
  background:inherit;
  background-color:rgba(251, 39, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1675 {
  position:absolute;
  left:20px;
  top:290px;
  width:306px;
  height:34px;
}
#u1676 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u1677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1677 {
  position:absolute;
  left:317px;
  top:153px;
  width:19px;
  height:19px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u1679 {
  position:absolute;
  left:15px;
  top:272px;
  width:321px;
  height:1px;
}
#u1680 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u1681 {
  position:absolute;
  left:72px;
  top:227px;
  width:47px;
  height:22px;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u1682 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u1683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1683 {
  position:absolute;
  left:10px;
  top:216px;
  width:40px;
  height:40px;
}
#u1684 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1685 {
  position:absolute;
  left:317px;
  top:229px;
  width:19px;
  height:19px;
}
#u1686 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#A1A1A1;
  text-align:left;
  line-height:18px;
}
#u1687 {
  position:absolute;
  left:15px;
  top:77px;
  width:326px;
  height:39px;
  font-size:11px;
  color:#A1A1A1;
  text-align:left;
  line-height:18px;
}
#u1688 {
  position:absolute;
  left:2px;
  top:2px;
  width:322px;
  word-wrap:break-word;
}
#u1689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u1689 {
  position:absolute;
  left:15px;
  top:124px;
  width:321px;
  height:1px;
}
#u1690 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
