body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1550 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u1551 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u1552 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u1553 {
  position:absolute;
  left:123px;
  top:32px;
  width:103px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u1554 {
  position:absolute;
  left:2px;
  top:2px;
  width:99px;
  word-wrap:break-word;
}
#u1555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1555 {
  position:absolute;
  left:10px;
  top:90px;
  width:328px;
  height:225px;
}
#u1556 {
  position:absolute;
  left:2px;
  top:104px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1557 {
  position:absolute;
  left:306px;
  top:32px;
  width:31px;
  height:22px;
}
#u1558 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u1559 {
  position:absolute;
  left:10px;
  top:137px;
  width:325px;
  height:1px;
}
#u1560 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u1561 {
  position:absolute;
  left:15px;
  top:92px;
  width:87px;
  height:19px;
  color:#A1A1A1;
}
#u1562 {
  position:absolute;
  left:2px;
  top:2px;
  width:83px;
  white-space:nowrap;
}
#u1563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:21px;
}
#u1563 {
  position:absolute;
  left:295px;
  top:91px;
  width:42px;
  height:21px;
}
#u1564 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1565 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1566 {
  position:absolute;
  left:284px;
  top:81px;
  width:51px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
