body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u826 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:10px;
  top:90px;
  width:328px;
  height:225px;
}
#u828 {
  position:absolute;
  left:2px;
  top:104px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u829 {
  position:absolute;
  left:306px;
  top:32px;
  width:31px;
  height:22px;
}
#u830 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u831 {
  position:absolute;
  left:10px;
  top:137px;
  width:325px;
  height:1px;
}
#u832 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u833 {
  position:absolute;
  left:17px;
  top:93px;
  width:81px;
  height:19px;
  color:#A1A1A1;
}
#u834 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  white-space:nowrap;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
  background:inherit;
  background-color:rgba(249, 13, 30, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  position:absolute;
  left:21px;
  top:355px;
  width:306px;
  height:34px;
}
#u836 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u837 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u838 {
  position:absolute;
  left:132px;
  top:32px;
  width:91px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u839 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  white-space:nowrap;
}
#u840 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u841 {
  position:absolute;
  left:302px;
  top:27px;
  width:31px;
  height:34px;
}
#u842 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
}
#u843 {
  position:absolute;
  left:288px;
  top:92px;
  width:36px;
  height:23px;
}
#u844 {
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:left;
}
#u845 {
  position:absolute;
  left:61px;
  top:157px;
  width:243px;
  height:17px;
  font-size:11px;
  color:#6B6B6B;
  text-align:left;
}
#u846 {
  position:absolute;
  left:2px;
  top:2px;
  width:239px;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:left;
}
#u847 {
  position:absolute;
  left:61px;
  top:199px;
  width:243px;
  height:17px;
  font-size:11px;
  color:#6B6B6B;
  text-align:left;
}
#u848 {
  position:absolute;
  left:2px;
  top:2px;
  width:239px;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:left;
  line-height:20px;
}
#u849 {
  position:absolute;
  left:61px;
  top:239px;
  width:243px;
  height:24px;
  font-size:11px;
  color:#6B6B6B;
  text-align:left;
  line-height:20px;
}
#u850 {
  position:absolute;
  left:2px;
  top:2px;
  width:239px;
  word-wrap:break-word;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#6B6B6B;
  text-align:left;
}
#u851 {
  position:absolute;
  left:61px;
  top:290px;
  width:243px;
  height:17px;
  font-size:11px;
  color:#6B6B6B;
  text-align:left;
}
#u852 {
  position:absolute;
  left:2px;
  top:2px;
  width:239px;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u853 {
  position:absolute;
  left:19px;
  top:153px;
  width:24px;
  height:24px;
}
#u854 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u855 {
  position:absolute;
  left:23px;
  top:157px;
  width:16px;
  height:16px;
}
#u856 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u857 {
  position:absolute;
  left:19px;
  top:195px;
  width:24px;
  height:24px;
}
#u858 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u859 {
  position:absolute;
  left:19px;
  top:239px;
  width:24px;
  height:24px;
}
#u860 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u861 {
  position:absolute;
  left:19px;
  top:285px;
  width:24px;
  height:24px;
}
#u862 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u863 {
  position:absolute;
  left:23px;
  top:199px;
  width:16px;
  height:16px;
}
#u864 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u865 {
  position:absolute;
  left:23px;
  top:243px;
  width:16px;
  height:16px;
}
#u866 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u867 {
  position:absolute;
  left:23px;
  top:289px;
  width:16px;
  height:16px;
}
#u868 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
