body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u125 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u126 {
  position:absolute;
  left:116px;
  top:32px;
  width:114px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u127 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:10px;
  top:90px;
  width:328px;
  height:225px;
}
#u129 {
  position:absolute;
  left:2px;
  top:104px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:306px;
  top:32px;
  width:31px;
  height:22px;
}
#u131 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u132 {
  position:absolute;
  left:10px;
  top:143px;
  width:325px;
  height:1px;
}
#u133 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u134 {
  position:absolute;
  left:11px;
  top:220px;
  width:325px;
  height:1px;
}
#u135 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
  background:inherit;
  background-color:rgba(251, 39, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:17px;
  top:468px;
  width:306px;
  height:34px;
}
#u137 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u138 {
  position:absolute;
  left:11px;
  top:296px;
  width:325px;
  height:1px;
}
#u139 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#A1A1A1;
  text-align:left;
}
#u140 {
  position:absolute;
  left:17px;
  top:240px;
  width:81px;
  height:17px;
  font-size:10px;
  color:#A1A1A1;
  text-align:left;
}
#u141 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  white-space:nowrap;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
  text-align:left;
}
#u142 {
  position:absolute;
  left:16px;
  top:263px;
  width:43px;
  height:19px;
  color:#363636;
  text-align:left;
}
#u143 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u144 {
  position:absolute;
  left:12px;
  top:369px;
  width:325px;
  height:1px;
}
#u145 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#A1A1A1;
  text-align:left;
}
#u146 {
  position:absolute;
  left:17px;
  top:314px;
  width:98px;
  height:17px;
  font-size:10px;
  color:#A1A1A1;
  text-align:left;
}
#u147 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  white-space:nowrap;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
  text-align:left;
}
#u148 {
  position:absolute;
  left:17px;
  top:336px;
  width:43px;
  height:19px;
  color:#363636;
  text-align:left;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#A1A1A1;
}
#u150 {
  position:absolute;
  left:17px;
  top:85px;
  width:55px;
  height:17px;
  font-size:10px;
  color:#A1A1A1;
}
#u151 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#282828;
  text-align:left;
}
#u152 {
  position:absolute;
  left:18px;
  top:108px;
  width:43px;
  height:19px;
  color:#282828;
  text-align:left;
}
#u153 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#A1A1A1;
  text-align:left;
}
#u154 {
  position:absolute;
  left:18px;
  top:163px;
  width:67px;
  height:17px;
  font-size:10px;
  color:#A1A1A1;
  text-align:left;
}
#u155 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  white-space:nowrap;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
  text-align:left;
}
#u156 {
  position:absolute;
  left:18px;
  top:188px;
  width:43px;
  height:19px;
  color:#363636;
  text-align:left;
}
#u157 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u158 {
  position:absolute;
  left:12px;
  top:444px;
  width:325px;
  height:1px;
}
#u159 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#A1A1A1;
  text-align:left;
}
#u160 {
  position:absolute;
  left:17px;
  top:387px;
  width:156px;
  height:17px;
  font-size:10px;
  color:#A1A1A1;
  text-align:left;
}
#u161 {
  position:absolute;
  left:2px;
  top:2px;
  width:152px;
  white-space:nowrap;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
  text-align:left;
}
#u162 {
  position:absolute;
  left:17px;
  top:409px;
  width:43px;
  height:19px;
  color:#363636;
  text-align:left;
}
#u163 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
