body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u1724 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u1726 {
  position:absolute;
  left:92px;
  top:28px;
  width:166px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u1727 {
  position:absolute;
  left:2px;
  top:2px;
  width:162px;
  word-wrap:break-word;
}
#u1728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1728 {
  position:absolute;
  left:10px;
  top:90px;
  width:328px;
  height:225px;
}
#u1729 {
  position:absolute;
  left:2px;
  top:104px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1730 {
  position:absolute;
  left:306px;
  top:32px;
  width:31px;
  height:22px;
}
#u1731 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:2px;
}
#u1732 {
  position:absolute;
  left:15px;
  top:137px;
  width:331px;
  height:1px;
}
#u1733 {
  position:absolute;
  left:2px;
  top:-8px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u1734 {
  position:absolute;
  left:59px;
  top:84px;
  width:74px;
  height:22px;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u1735 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  white-space:nowrap;
}
#u1736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#949494;
  text-align:left;
}
#u1736 {
  position:absolute;
  left:59px;
  top:103px;
  width:145px;
  height:17px;
  font-size:10px;
  color:#949494;
  text-align:left;
}
#u1737 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  white-space:nowrap;
}
#u1738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#868686;
}
#u1738 {
  position:absolute;
  left:303px;
  top:23px;
  width:35px;
  height:37px;
  font-size:28px;
  color:#868686;
}
#u1739 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u1740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u1740 {
  position:absolute;
  left:21px;
  top:92px;
  width:20px;
  height:19px;
}
#u1741 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1742 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1743 {
  position:absolute;
  left:10px;
  top:71px;
  width:292px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u1744 {
  position:absolute;
  left:325px;
  top:99px;
  width:7px;
  height:12px;
}
#u1745 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
