body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u2756 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u2757 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#363636;
}
#u2758 {
  position:absolute;
  left:96px;
  top:32px;
  width:155px;
  height:23px;
  font-size:16px;
  color:#363636;
}
#u2759 {
  position:absolute;
  left:2px;
  top:2px;
  width:151px;
  word-wrap:break-word;
}
#u2760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2760 {
  position:absolute;
  left:299px;
  top:26px;
  width:36px;
  height:34px;
}
#u2761 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
  text-align:left;
}
#u2762 {
  position:absolute;
  left:20px;
  top:93px;
  width:116px;
  height:18px;
  font-size:12px;
  color:#A1A1A1;
  text-align:left;
}
#u2763 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u2764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2764 {
  position:absolute;
  left:17px;
  top:154px;
  width:313px;
  height:151px;
}
#u2765 {
  position:absolute;
  left:2px;
  top:68px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
  background:inherit;
  background-color:rgba(251, 39, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2766 {
  position:absolute;
  left:20px;
  top:203px;
  width:306px;
  height:34px;
}
#u2767 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u2768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u2768 {
  position:absolute;
  left:20px;
  top:111px;
  width:304px;
  height:25px;
  font-size:14px;
  color:#282828;
  text-align:left;
}
#u2769 {
  position:absolute;
  left:2px;
  top:4px;
  width:300px;
  word-wrap:break-word;
}
#u2770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#BCBCBC;
}
#u2770 {
  position:absolute;
  left:20px;
  top:154px;
  width:147px;
  height:17px;
  font-size:10px;
  color:#BCBCBC;
}
#u2771 {
  position:absolute;
  left:2px;
  top:2px;
  width:143px;
  white-space:nowrap;
}
#u2772 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
