body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u2092 {
  position:absolute;
  left:116px;
  top:32px;
  width:114px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u2093 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2094 {
  position:absolute;
  left:10px;
  top:90px;
  width:328px;
  height:225px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:104px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2096 {
  position:absolute;
  left:306px;
  top:32px;
  width:31px;
  height:22px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u2098 {
  position:absolute;
  left:10px;
  top:137px;
  width:325px;
  height:1px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u2100 {
  position:absolute;
  left:15px;
  top:92px;
  width:98px;
  height:19px;
  color:#A1A1A1;
}
#u2101 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  white-space:nowrap;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
  text-align:right;
}
#u2102 {
  position:absolute;
  left:279px;
  top:94px;
  width:43px;
  height:19px;
  color:#363636;
  text-align:right;
}
#u2103 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  white-space:nowrap;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u2104 {
  position:absolute;
  left:326px;
  top:96px;
  width:7px;
  height:12px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
  background:inherit;
  background-color:rgba(251, 39, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2106 {
  position:absolute;
  left:21px;
  top:179px;
  width:306px;
  height:34px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u2108 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#BCBCBC;
}
#u2109 {
  position:absolute;
  left:17px;
  top:146px;
  width:244px;
  height:17px;
  font-size:10px;
  color:#BCBCBC;
}
#u2110 {
  position:absolute;
  left:2px;
  top:2px;
  width:240px;
  white-space:nowrap;
}
#u2111 {
  position:absolute;
  left:8px;
  top:68px;
  width:332px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
