body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:648px;
}
#u535 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:648px;
}
#u536 {
  position:absolute;
  left:2px;
  top:316px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u537 {
  position:absolute;
  left:14px;
  top:604px;
  width:150px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u538 {
  position:absolute;
  left:192px;
  top:604px;
  width:150px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u539 {
  position:absolute;
  left:8px;
  top:30px;
  width:109px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AC4B56;
}
#u540 {
  position:absolute;
  left:53px;
  top:542px;
  width:11px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#AC4B56;
}
#u541 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  white-space:nowrap;
}
#u542 {
  position:absolute;
  left:24px;
  top:535px;
  width:150px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u543 {
  position:absolute;
  left:192px;
  top:535px;
  width:150px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u544 {
  position:absolute;
  left:156px;
  top:249px;
  width:52px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u545 {
  position:absolute;
  left:156px;
  top:427px;
  width:52px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u546 {
  position:absolute;
  left:155px;
  top:91px;
  width:52px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
