body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u101 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u102 {
  position:absolute;
  left:116px;
  top:32px;
  width:114px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u103 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  position:absolute;
  left:10px;
  top:90px;
  width:328px;
  height:225px;
}
#u105 {
  position:absolute;
  left:2px;
  top:104px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  position:absolute;
  left:306px;
  top:32px;
  width:31px;
  height:22px;
}
#u107 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u108 {
  position:absolute;
  left:10px;
  top:146px;
  width:325px;
  height:1px;
}
#u109 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u110 {
  position:absolute;
  left:11px;
  top:223px;
  width:325px;
  height:1px;
}
#u111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:34px;
  background:inherit;
  background-color:rgba(251, 39, 51, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:20px;
  top:257px;
  width:306px;
  height:34px;
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#A1A1A1;
}
#u114 {
  position:absolute;
  left:15px;
  top:85px;
  width:90px;
  height:17px;
  font-size:10px;
  color:#A1A1A1;
}
#u115 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  white-space:nowrap;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#282828;
}
#u116 {
  position:absolute;
  left:17px;
  top:112px;
  width:58px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#282828;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#A1A1A1;
}
#u118 {
  position:absolute;
  left:16px;
  top:164px;
  width:88px;
  height:17px;
  font-size:10px;
  color:#A1A1A1;
}
#u119 {
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  white-space:nowrap;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
}
#u120 {
  position:absolute;
  left:15px;
  top:191px;
  width:58px;
  height:19px;
  color:#363636;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
