body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:351px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u58 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u59 {
  position:absolute;
  left:110px;
  top:32px;
  width:125px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u61 {
  position:absolute;
  left:10px;
  top:90px;
  width:328px;
  height:225px;
}
#u62 {
  position:absolute;
  left:2px;
  top:104px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:306px;
  top:32px;
  width:31px;
  height:22px;
}
#u64 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u65 {
  position:absolute;
  left:10px;
  top:207px;
  width:325px;
  height:1px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u67 {
  position:absolute;
  left:10px;
  top:284px;
  width:325px;
  height:1px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
}
#u69 {
  position:absolute;
  left:15px;
  top:155px;
  width:47px;
  height:19px;
  color:#363636;
}
#u70 {
  position:absolute;
  left:2px;
  top:2px;
  width:43px;
  white-space:nowrap;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
  text-align:left;
}
#u71 {
  position:absolute;
  left:15px;
  top:225px;
  width:42px;
  height:19px;
  color:#363636;
  text-align:left;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#AEAEAE;
  text-align:left;
}
#u74 {
  position:absolute;
  left:16px;
  top:85px;
  width:319px;
  height:30px;
  font-size:11px;
  color:#AEAEAE;
  text-align:left;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u76 {
  position:absolute;
  left:10px;
  top:132px;
  width:325px;
  height:1px;
}
#u77 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u78 {
  position:absolute;
  left:10px;
  top:362px;
  width:325px;
  height:1px;
}
#u79 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
  text-align:left;
}
#u80 {
  position:absolute;
  left:15px;
  top:308px;
  width:101px;
  height:19px;
  color:#363636;
  text-align:left;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:97px;
  white-space:nowrap;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u82 {
  position:absolute;
  left:320px;
  top:319px;
  width:7px;
  height:12px;
}
#u83 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u84 {
  position:absolute;
  left:320px;
  top:242px;
  width:7px;
  height:12px;
}
#u85 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u86 {
  position:absolute;
  left:320px;
  top:166px;
  width:7px;
  height:12px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
  text-align:left;
}
#u88 {
  position:absolute;
  left:16px;
  top:172px;
  width:319px;
  height:17px;
  font-size:10px;
  color:#AEAEAE;
  text-align:left;
}
#u89 {
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
  text-align:left;
}
#u90 {
  position:absolute;
  left:16px;
  top:242px;
  width:311px;
  height:30px;
  font-size:10px;
  color:#AEAEAE;
  text-align:left;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:307px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#AEAEAE;
  text-align:left;
}
#u92 {
  position:absolute;
  left:16px;
  top:324px;
  width:319px;
  height:17px;
  font-size:10px;
  color:#AEAEAE;
  text-align:left;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:315px;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(251, 39, 51, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FB2733;
}
#u94 {
  position:absolute;
  left:59px;
  top:225px;
  width:81px;
  height:16px;
  font-size:10px;
  color:#FB2733;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:77px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:-1px;
  top:137px;
  width:353px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u97 {
  position:absolute;
  left:-1px;
  top:210px;
  width:353px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u98 {
  position:absolute;
  left:-1px;
  top:289px;
  width:353px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
