body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:627px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u208 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u209 {
  position:absolute;
  left:116px;
  top:32px;
  width:116px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u210 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  white-space:nowrap;
}
#u211 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:217px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u212 {
  position:absolute;
  left:14px;
  top:93px;
  width:322px;
  height:217px;
}
#u213 {
  position:absolute;
  left:2px;
  top:100px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:151px;
}
#u214 {
  position:absolute;
  left:103px;
  top:120px;
  width:148px;
  height:151px;
}
#u215 {
  position:absolute;
  left:2px;
  top:68px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u216 {
  position:absolute;
  left:66px;
  top:267px;
  width:183px;
  height:6px;
}
#u217 {
  position:absolute;
  left:2px;
  top:-5px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#515151;
}
#u218 {
  position:absolute;
  left:56px;
  top:283px;
  width:235px;
  height:19px;
  color:#515151;
}
#u219 {
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  white-space:nowrap;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u220 {
  position:absolute;
  left:291px;
  top:27px;
  width:47px;
  height:27px;
}
#u221 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:2px;
}
#u222 {
  position:absolute;
  left:246px;
  top:200px;
  width:155px;
  height:1px;
}
#u223 {
  position:absolute;
  left:2px;
  top:-8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:18px;
}
#u224 {
  position:absolute;
  left:401px;
  top:140px;
  width:226px;
  height:111px;
  text-align:left;
  line-height:18px;
}
#u225 {
  position:absolute;
  left:2px;
  top:29px;
  width:222px;
  word-wrap:break-word;
}
