body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u2371 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:648px;
}
#u2372 {
  position:absolute;
  left:2px;
  top:316px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#515151;
}
#u2373 {
  position:absolute;
  left:122px;
  top:32px;
  width:104px;
  height:22px;
  font-size:14px;
  color:#515151;
}
#u2374 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u2375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:225px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2375 {
  position:absolute;
  left:10px;
  top:90px;
  width:328px;
  height:225px;
}
#u2376 {
  position:absolute;
  left:2px;
  top:104px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2377 {
  position:absolute;
  left:306px;
  top:32px;
  width:31px;
  height:22px;
}
#u2378 {
  position:absolute;
  left:2px;
  top:3px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u2379 {
  position:absolute;
  left:10px;
  top:137px;
  width:325px;
  height:1px;
}
#u2380 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u2381 {
  position:absolute;
  left:15px;
  top:92px;
  width:83px;
  height:19px;
  color:#A1A1A1;
}
#u2382 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u2383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
}
#u2383 {
  position:absolute;
  left:292px;
  top:90px;
  width:36px;
  height:23px;
}
#u2384 {
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#C9C9C9;
  text-align:left;
  line-height:16px;
}
#u2385 {
  position:absolute;
  left:15px;
  top:143px;
  width:313px;
  height:68px;
  font-size:10px;
  color:#C9C9C9;
  text-align:left;
  line-height:16px;
}
#u2386 {
  position:absolute;
  left:2px;
  top:2px;
  width:309px;
  word-wrap:break-word;
}
#u2387 {
  position:absolute;
  left:14px;
  top:27px;
  width:29px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
